@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 22px;
    color: $textColor;
    font-family: 'Anek Latin',
        sans-serif;
}


body a {
    color: $textColor;
}